*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.h1{
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

}
.all{ 
    height: 100vh;
}